@media (max-width:500px){
    
    nav .navbar-brand img
    {
        width: 200px;
    }

    
    
    
    #tabs .i_l a
    {
        font-size: 13px!important;
    }
    #tabs .nav-item
    {
        font-size: .8rem;
        margin-bottom: 10px;
    }
    #tabs .nav-item a
    {
        margin-top: 9px!important;
        /* border: 1px solid black; */
        padding: 3px;
        margin-left: 5px!important;
    }
    
    #tabs .nav-tabs
    {
        margin-left: -2px!important;
    }
 
    #tabs .i_l
    {
        margin-left: -1px!important; 
        margin-left: 10px!important;
    }
    
}