@media (max-width:500px){
        #top-nav
    {
        background: #c0d3ec!important;
        height: 7rem!important;
    }
    
    #top-nav h5
    {
        margin-top: -15px;
        font-size: 15px;
        text-align: center;
    }
    
    #top-nav .contact
    {
        font-size: 10px;
        margin-top: -20px!important;
        margin-left: -10rem; 
    }
    #top-nav .social
    {
        font-size: 10px;
        margin-top: -4.6rem;
        display: flex;
        justify-content: flex-end;
    }
    
    
    
    
    nav .navbar-brand img
    {
        width: 200px;
    }

    
    
    
    
    #tabs .nav-item
    {
        font-size: 9.4px;
        margin-bottom: 10px;
    }
    #tabs .nav-item a
    {
        margin-top: 10px;
        margin-left: 5px!important;
        font-weight: bold;
        font-size: 10px;
        padding: 3px 4px;
        letter-spacing: 1px;
    }
    
    #tabs .nav-tabs
    {
        margin-left: 5px!important;
    }
 
    #tabs .i_l
    {
        margin-left: -1px!important; 
        margin-left: 10px!important;
    }
    #tabs .i_l a
    {
        font-size: 13px!important;
    }
    
    
    
}
